/* 
	display - position
	font
	color - background ...
	width - length - margin - border - padding ...
	other props
*/

#product-overview {
  position: relative;

  /* background-image: url('./freedom.jpg');
	background-position: left 10% bottom 20%;
	background-size: cover;
  background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	background-attachment: fixed; */

  /* background-shorthand: background-image background-position/background-size background-repeat background-origin background-clip background-attachment */
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url('./images/freedom.jpg') center/cover no-repeat border-box, #ff1b68;
  /* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0, 0, 0, 0.5)); */
  /* background-image: radial-gradient(ellipse farthest-corner, red, blue 70%, green); */

  width: 100%;
  height: 50vh;
}

#product-overview h1 {
  position: absolute;
  bottom: 3%;
  left: 3%;

  font-family: 'Indie Flower', sans-serif;
  font-size: 1.6rem;

  color: #fff;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    background-position: 50% 25%;

    height: 40vh;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2dff5c;

  text-align: center;
}

.plan {
  display: block;

  background-color: #d5ffdc;

  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;

  text-align: center;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background-color: white;
  color: #19b84c;

  padding: 0.5rem;
  border-radius: 0.5rem;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: rgb(133, 133, 133);
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan {
    display: inline-block;

    width: 30%;
    min-width: 13rem;
    max-width: 25rem;

    vertical-align: middle;
  }

  .plan__list {
    width: 100%;
    margin: 0 auto;

    text-align: center;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

#key-features {
  background: #ff1b68;

  margin-top: 80px;
  padding: 1rem;
}

#key-features .section-title {
  color: white;

  margin: 32px;
}

.key-feature__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;
}

.key-feature__image {
  background-color: #ffcede;

  height: 128px;
  width: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 1.25rem;
}

.key-feature__description {
  color: white;

  font-weight: bold;
  font-size: 1.25rem;

  text-align: center;
}

@media (min-width: 40rem) {
  .key-feature {
    display: inline-block;

    width: 30%;
    max-width: 25rem;

    vertical-align: top;
  }
}

.modal {
  position: fixed;
  /* display: none; */
  top: 20%;
  left: 30%;
  width: 40%;

  background: white;

  padding: 1rem;
  border: 1px solid #ccc;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 200;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 0.2s ease-out, transform 0.5s ease-out;
}

.modal__title {
  margin: 0 0 1rem 0;

  text-align: center;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  font: inherit;

  color: white;
  background: #0e4f1f;

  border: 1px solid #0e4f1f;
  padding: 0.5rem 1rem;
  text-decoration: none;

  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
