@font-face {
  font-family: "AnonymousPro";
  src: url('AnonymousPro-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "AnonymousPro";
  src: url('AnonymousPro-Bold.ttf') format("truetype");
  font-weight: 700;
}

main {
  padding-top: 2rem;
}

.background {
  position: fixed;

  background: url('../images/plans-background.jpg') center/cover;

  width: 100vw;
  height: 100vh;

  z-index: -1;
  filter: grayscale(40%);
}

.package {
  position: relative;

  font-family: 'Indie Flower', sans-serif;

  width: 80%;
  border: 4px solid #0e4f1f;
  border-left: none;
  margin: 1rem 0;

  overflow: hidden;
}

.package:hover,
.package:active {
  border-color: #ff5454 !important;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package a {
  display: block;

  color: inherit;

  padding: 2rem;

  text-decoration: none;
}

.package__badge {
  position: absolute;
  top: 1rem;
  right: 0;

  font-size: 0.8rem;

  color: white;
  background-color: #ff5454;

  width: 12rem;
  padding: 0.5rem;
  margin: 0;

  text-align: center;
  transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
  transform-origin: center;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  /* font-family: "Roboto"; 
  font-family: "AnonymousPro";
  font-size: 1.2rem;
  font-weight: 700; 
  font-weight: 900;
  font-style: italic; */

  /* font: font-style font-variant font-weight font-size/line-height font-family */
  font: 700 1.2rem "AnonymousPro", sans-serif;

  background-color: white;
  color: #0e4f1f;

  border: 1px solid #0e4f1f;
  padding: 1rem;

  /* line-height: 2;
  text-decoration: underline wavy red; 
  text-shadow: 0px 2px 5px gray; */
}

.clearfix {
  clear: both;
}

#plus {
  background-color: rgba(213, 255, 220, 0.95);
}

#free {
  background-color: rgba(234, 252, 237, 0.95);

  border-right: none;
  border-left: 4px solid #0e4f1f;

  float: right;
  text-align: right;
}

#premium {
  background-color: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1500px) {
  .package {
    border-left: 4px solid #0e4f1f;
  }

  #free {
    border-right: 4px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454; 
  }
  
}